.wrapper {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  box-shadow: 0 0 2px black;
  border-radius: 10px;
}
.form > input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid gainsboro;
  outline: none;
}
.form > button {
  padding: 10px;
  background-color: royalblue;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.form > button:hover {
  background-color: rgb(11, 51, 170);
}
