.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: royalblue;
  color: white;
}

.logo {
  font-size: 30px;
  font-weight: 800;
}

.navMenu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navMenu a {
  color: inherit;
  text-decoration: none;
}

.logoutbtn {
  padding: 5px 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.logoutbtn:hover {
  border: 1px solid red;
  color: red;
  background-color: white;
}
